*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
    margin-top: 40px;
}
.PerD{
    margin-top: 50px;
    text-indent: 1%;
    color: white;
    background-color: black;
}

table{
    margin-left: 30%;
    margin-right: 30%;
    width: 99%;
    border: 1px solid black;
}

table, tr, .PerD{
    margin: 10px;
}

.sp{
    text-indent: 0px;
}

.ud{
    border-bottom: 1px solid black;
    text-align: left;
    width: 25%;
}

div{
    border: 1px solid black;
    font-size: 15px;
    padding-top: 2%;
    margin-top: 50px;
    float: right;
    text-align: center;
    height: 100px;
    width: 100px;
    margin-right: 21%;
}