* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.bio {
    width: 870px;
}

.id {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin-top: -120px;
    margin-right: 1%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PerD {
    margin-top: 50px;
    text-indent: 1%;
    color: white;
    background-color: black;
}

.tbl {
    width: 98%;
    border: 2px solid black;
}

table,
tr,
.PerD {
    margin: 10px;
}

.sp {
    text-indent: 0px;
}

.sp1 {
    border-bottom: 1px solid black;
    width: 70%;
}

.col {
    width: 152px;
}

.ud {
    border-bottom: 1px solid black;
    text-align: left;
    width: 25%;
}

div{
    border: 1px solid black;
    font-size: 15px;
    padding-top: 2%;
    margin-top: 50px;
    float: right;
    text-align: center;
    height: 100px;
    width: 100px;
    margin-right: 21%;
}

.data1 {
    width: 50px;
}

.parent {
    width: 80%;
}

.td1 {
    width: 80%;
    border: 2px solid black;
}

p {
    text-align: center;
    margin-right: -170px;
}

.fp {
    border-top: 1px solid black;
}
