* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.con {
    align-items: center;
    justify-content: center;
    display: flex;
}

.firstbox {
    width: 1800px;
    height: 900px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('itsme.jpg');
}

h1 {
    margin-top: 50px;
    margin-right: 230px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: white;
}

h1 span {
    color: rgb(25, 211, 25);
}

.highlight {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 40px;
    color: rgb(25, 211, 25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3:nth-of-type(1) {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 100px;
    margin-top: 280px;
    color: white;
}

h3:nth-of-type(2) {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 70px;
    margin-top: 5px;
    color: white;
}

.secondbox {
    width: 1800px;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(44, 40, 40);
}

.aboutcontainer {
    font-size: 120px;
    margin-bottom: 30px;
}

p {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0 180px;
}

.thirdbox {
    width: 1800px;
    height: 900px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

.mycontainer {
    color: black;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.fourthbox {
    width: 1800px;
    height: 900px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(37, 34, 34);
}

img {
    margin-top: 30px;
    padding: 0 12px;
    width: 400px;
}

button {
    width: 250px;
    height: 60px;
    font-size: 35px;
    border: none;
    margin: 50px 0 20px 0;
    background-color: lightblue;
    border-radius: 10px;
}

.contactcontainer {
    font-size: 100px;
}

.container {
    margin: auto;
    width: 1400px;
    height: 700px;
}

.name {
    width: 700px;
    height: 100px;
    border: 1px solid red;
}

.logo {
    width: 80px;
    margin-top: 50px;
}

h4:nth-of-type(1) {
    color: white;
    margin-top: 50px;
    font-size: 30px;
}

.answer {
    position: relative;
    background-color: beige;
    width: 550px;
    height: 70px;
    margin: 31px 0 0 80px;
    border-radius: 7px;
}

.answer1 {
    position: relative;
    background-color: beige;
    width: 550px;
    height: 70px;
    margin: 31px 0 0 103px;
    border-radius: 7px;
}

.answer2 {
    position: relative;
    background-color: beige;
    width: 550px;
    height: 300px;
    margin: 31px 0 0 110px;
    border-radius: 7px;
}


h5:nth-of-type(1) {
    padding: 17px;
    font-size: 30px;
}

.icon {
    width: 250px;
    margin-bottom: 50px;
}

.download {
    margin-bottom: 80px;
    margin-right: 260px;
}

.submit {
    margin-bottom: 80px;
    margin-right: 100px;
}

.fifthbox {
    width: 1800px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(94, 91, 91);
}

h6 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
}